<nav>
		<ul class = "nav {{include.navclass}}">
			<li class = "{% if page.url == '/' %}activate{% endif %}"><a href= "{{site.baseurl}}/index.html"> Home </a></li>
			<li class = "{% if page.url == '/Resume.html' %}activate{% endif %}" ><a href= "{{site.baseurl}}/Resume.html"> Resume </a></li>
			<li class = "{% if page.url == '/Contact.html' %}activate{% endif %}"><a href= "{{site.baseurl}}/Contact.html"> Contact </a></li>
			<li class = "{% if page.url == '/Blog.html' %}activate{% endif %}"><a href= "{{site.baseurl}}/Blog.html"> Blog </a></li>

		</ul>	
</nav>
