<!DOCTYPE html>
<html lang = "en-ca">
<head>
	<meta charset = "utf-8">
	<title>H. Kazmi </title>
	<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Merriweather" rel="stylesheet">
	<link href = "{{site.baseurl}}/css/common.css" rel = "stylesheet">
</head>

<div class = "outside">


	<body>

		<div class = "container">

		<header>

		<div class = "avatar">	

			<img alt = "person" class = "hassan" src="Images/Hkazmi1.jpeg">
		</div>  <!-- avatar -->

		<div class = "heading"> 

			<h1>Hassan Kazmi's Web Page</h1>

		</div> <!--heading-->


		

		<div class = "navbar">
			

		{% include nav.html navclass = 'nav-top' %}
		</header>

		</div> <!--navbar-->

	
		
		<br></br>

		{{ content }}

		<br></br>
		<br></br>

	<a href="mailto:webmaster@example.com"> <img border = "0" alt = "icon" class = "Icon" src="Images/Icons/email.png"></a>
	
	<a href="https://www.facebook.com/HassanKazmi23" target="_blank">
	<img alt = "icon" class = "Icon" src="Images/Icons/facebook.png"></a>
	
	<a href = "https://plus.google.com/u/0/117547954210407066376" target = "blank">
	<img alt = "icon" class = "Icon" src="Images/Icons/google-plus.png"></a>
	
	<a href = "https://www.instagram.com/0g.hassan.kazmi/" target = "blank">
	<img alt = "icon" class = "Icon" src="Images/Icons/instagram.png"></a>
	
	<a href = "https://www.linkedin.com/in/hassan-kazmi-154078b2" target = "blank">
	<img alt = "icon" class = "Icon" src="Images/Icons/linkedin.png"></a>

	<a href = "https://twitter.com/hassankazmi23" target = "blank">
	<img alt = "icon" class = "Icon" src="Images/Icons/twitter.png"></a>

	<a href = "https://www.youtube.com/channel/UCe3_dsjihaHpQItrfYwtjKQ" target = "blank">
	<img alt = "icon" class = "Icon" src="Images/Icons/youtube.png"></a>

	<a href = "https://github.com/hassankazmi23" target = "blank">
	<img alt = "icon" class = "Icon" src="Images/Icons/github.png"></a>

	<br></br>

		<hr>
		<div class = "navbar">

		<footer>
		<p>H.K.</p>
		</footer>

		</div> <!--navbar -->
		<hr>
		</div> <!-- container -->


	</body>

</div> <!-- outside -->

</html>