<!DOCTYPE html>
<html lang = "en-ca">
<head>
	<meta charset = "utf-8">
	<title>H. Kazmi </title>
	<link href = "{{site.baseurl}}/css/common.css" rel = "stylesheet">
</head>

<div class = "outside">


	<body>

		<div class = "container">

		<header>

		<div class = "avatar">	

			<img alt = "person" class = "hassan" src="Images/Hkazmi1.jpeg">
		</div>  <!-- avatar -->

		<div class = "heading"> 

			<h1>Hassan Kazmi's Web Page</h1>

		</div> <!--heading-->


		

		<div class = "navbar">
			<hr>

		{% include nav.html navclass = 'nav-top' %}
		</header>

		</div> <!--navbar-->

		<hr>

		{{ content }}

		<hr>
		<div class = "navbar">

		<footer>
		<p>H.K.</p>
		{% include nav.html navclass = 'nav-bottom' %}
		</footer>

		</div> <!--navbar -->
		<hr>
		</div> <!-- container -->


	</body>

</div> <!-- outside -->

</html>